= form_for(@user) do |f|
  .form-group
    = f.label 'Usuário'
    %br
      = f.text_field :username, class: 'form-control'

  .form-group
    =f.label 'Senha'
    %br
      = f.password_field :password, class: 'form-control'

  .form-group
    =f.label 'Confirmar Senha'
    %br
      = f.password_field :password_confirmation, class: 'form-control'

  .actions
    = f.submit "Submeter", class: "btn btn-default btn-block"