= form_for(@user) do |f|
  .form-group
    = f.label :username
    %br
      = f.text_field :username, class: 'form-control'

  .form-group
    =f.label :password, 'Senha'
    %br
      = f.password_field :password, class: 'form-control'

  .form-group
    =f.label :password_confirmation, 'Confirmação de Senha'
    %br
      = f.password_field :password_confirmation, class: 'form-control'

  .actions
    = f.submit "Submeter", class: "btn btn-default btn-block"