.col-md-6.col-md-offset-3
  %h1 Lista de usuários  #{link_to 'Novo usuário', new_user_path, class: 'btn btn-default btn-xs'}
  %table.table.table-condensed
    %thead
      %tr
        %th Username
        %th{:colspan => "4"}
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.username, user
          %td= link_to 'Editar', edit_user_path(user)
          %td= link_to (user.admin)? ('Tornar Usuario Comum'):('Tornar Administrador'), set_admin_path(:id => user, :admin => !user.admin), method: :put, data: {confirm: "Tem certeza?"}
          %td= link_to 'Apagar', user, method: :delete, data: { confirm: 'Tem certeza?' }
