= form_for @event, :html => { :multipart => true } do |f|
  .form-group
    = f.label 'Título'
    %br
      = f.text_field :title, class: 'form-control'
  .form-group
    = f.label 'Resumo'
    %br
      = f.text_area :summary, rows: 10, class: 'form-control'
  .form-group
    = f.label 'Data/Horário'
    %br
      = f.datetime_select :time, order: [:day, :month, :year], class: 'form-control'
  .form-group
    = f.label 'Local'
    %br
      = f.text_field :place, class: 'form-control'
  .form-group
    = f.label 'Endereço'
    %br
      = f.text_field :address, class: 'form-control'
  .form-group
    = f.label 'Apresentador'
    %br
      = f.text_field :speaker, class: 'form-control'
  .form-group
    = f.label 'Responsável'
    %br
      = f.text_field :responsible, class: 'form-control'
  .form-group
    = f.label 'Realização'
    %br
      = f.text_field :performance, class: 'form-control'
  .form-group
    = f.label 'URL'
    %br
      = f.text_field :url, class: 'form-control'
  .form-group
    = f.label :event_type_id, 'Tipo'
    %br
      = f.select :event_type_id, options_from_collection_for_select(@event_types, 'id', 'name_capitalize')
  .form-group
    = f.label :image, 'Imagem'
    %br
      = f.file_field :image, :as => :file
  .actions
    = f.submit 'Submeter'