.next.row
  .row.title
    .col-md-4
      = image_tag "title" , class: "img-responsive title"
    .col-md-8
      %h1.text-uppercase 
        - if !@event.nil?
          = @event.title
        - else
          Próximo evento
  - if !@event.nil?
    %h3.text-center
      = @event.date
      |
      = @event.time.to_formatted_s(:time)
      |
      %strong Local:
      = @event.place
      |
      %strong Por:
      = @event.speaker
      |
      %strong Realização:
      = @event.performance 
    -if @event.image.exists?
      %p
        = image_tag @event.image.url, class: "img-responsive pull-left img-next"
    %p.text-justify
      %strong Resumo:
      - @event.summary.split("\n").each do |line|
        = line
        %br 
  - else
    %h2.text-center Não existem eventos próximos