.next.row  
  .row.title
    .col-md-4
      %br
      = image_tag asset_path("title") , class: "img-responsive"
  
    .col-md-8 
      %h1.text-uppercase Próximos eventos
  
  -if !@events.empty?
    .panel-group
      - @events.each do |event|
        .panel.panel-default
          .panel-heading
            %h2
              %strong=event.title
          .panel-body
            %h3
              %strong Data:
              #{event.date} - #{event.time.strftime("%Hh%M")}
              |
              %strong Local:
              = event.place
              |
              %strong Palestrante:
              = event.speaker
              |
              %strong Realização:
              = event.performance
            %h3.text-justify.small
              %strong Resumo:
              = event.summary[0..256]
              = '...' if event.summary.length > 256
  - else
    %h2.text-center Não existem eventos próximos