.col-md-6.col-md-offset-3


  %h2 Próximo Evento
  %br
  %p
    %strong Título:
    = @event.title
  %p
    %strong Resumo:
    = @event.summary
  %p
    %strong Horário:
    = @event.time.strftime("%Hh%M")
  %p
    %strong Data:
    = @event.time.strftime("%d/%m/%y")
  %p
    %strong Local:
    = @event.place
  %p
    %strong Endereço:
    = @event.address
  %p
    %strong Apresentador:
    = @event.speaker
  %p
    %strong Responsável:
    = @event.responsible
  %p
    %strong Realização:
    = @event.performance
  %p
    %strong URL:
    = @event.url
  %p
    %strong Tipo de evento:
    = EventType.find_by(id: @event.event_type_id).name_capitalize
  -if(@event.image.exists?)
    %p
      %strong Imagem:
      %br
      = image_tag @event.image.url
  %p
    %strong Criado por:
    = link_to_if admin?, @event.user.username, user_path(@event.user)
  -if current_user == @event.user
    = link_to 'Editar', edit_event_path(@event)
  \#{link_to 'Voltar', events_path}