%h1= @event.title
.row  
  .col-md-8.event-left
    %p
      %strong Resumo:
      - @event.summary.split("\n").each do |line|
        = line
        %br
    -if(@event.image.exists?)
      %p
        = image_tag @event.image.url
  .col-md-4
    %p
      %strong Horário:
      = @event.time.to_formatted_s(:time)
    %p
      %strong Data:
      = @event.date
    %p
      %strong Local:
      = @event.place
    %p
      %strong Endereço:
      = @event.address
    %p
      %strong Apresentador:
      = @event.speaker
    %p
      %strong Responsável:
      = @event.responsible
    %p
      %strong Realização:
      = @event.performance
    -if @event.url
      %p
        %strong URL:
        = "#{link_to @event.url, "http://" + @event.url}".html_safe
    %p
      %strong Tipo de evento:
      = EventType.find_by(id: @event.event_type_id).name_capitalize    
    %p
      %strong Criado por:
      = link_to_if admin?, @event.user.username, user_path(@event.user)
    =link_to 'Voltar', events_path
    -if current_user == @event.user
      = link_to 'Editar', edit_event_path(@event)
  
    